[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "covid19swiss"]
	path = covid19swiss
	url = https://github.com/covid19r/covid19swiss
